<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>13283582391-dqhhmtflebuibmd6h6s5vhrt2k4p7gnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13283582391-dqhhmtflebuibmd6h6s5vhrt2k4p7gnu</string>
	<key>API_KEY</key>
	<string>AIzaSyD33B6G98ceE-2TkVo_M-OCulVoFpsyXxM</string>
	<key>GCM_SENDER_ID</key>
	<string>13283582391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.nerdoc-codinger.jahpress</string>
	<key>PROJECT_ID</key>
	<string>jahpress-2fab6</string>
	<key>STORAGE_BUCKET</key>
	<string>jahpress-2fab6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13283582391:ios:74aaad20563d6ef0</string>
	<key>DATABASE_URL</key>
	<string>https://jahpress-2fab6.firebaseio.com</string>
</dict>
</plist>