<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effects</key>
	<array>
        <dict>
            <key>order</key>
            <integer>0</integer>
            <key>file</key>
            <string>effects/sfx_electrified.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Electrified</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>1</integer>
            <key>file</key>
            <string>effects/sfx_siren_force.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Siren Force</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>2</integer>
            <key>file</key>
            <string>effects/sfx_rewind.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Rewind</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>3</integer>
            <key>file</key>
            <string>effects/sfx_electrocopter.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Electro Copter</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>4</integer>
            <key>file</key>
            <string>effects/sfx_airhorn.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Airhorn</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>5</integer>
            <key>file</key>
            <string>effects/sfx_jungle_terrorist.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Jungle Terrorist</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>6</integer>
            <key>file</key>
            <string>effects/sfx_reload.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Reload</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>7</integer>
            <key>file</key>
            <string>effects/sfx_laser.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Laser</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>8</integer>
            <key>file</key>
            <string>effects/sfx_siren_echo_out.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Siren Echo Out</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>9</integer>
            <key>file</key>
            <string>effects/sfx_siren_xtra_long.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Siren Xtra Long</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>10</integer>
            <key>file</key>
            <string>effects/sfx_laser_attack.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Laser Attack</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>11</integer>
            <key>file</key>
            <string>effects/sfx_pushdown.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Pushdown</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>12</integer>
            <key>file</key>
            <string>effects/sfx_guns.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Guns</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>13</integer>
            <key>file</key>
            <string>effects/sfx_siren_low_high.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Siren Low High</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>14</integer>
            <key>file</key>
            <string>effects/sfx_laser_shot.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Laser Shot</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>15</integer>
            <key>file</key>
            <string>effects/sfx_siren.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Siren</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>16</integer>
            <key>file</key>
            <string>effects/sfx_siren_short.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>Siren Short</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>17</integer>
            <key>file</key>
            <string>effects/sfx_r2d2.mp3</string>
            <key>type</key>
            <string>SFX</string>
            <key>title</key>
            <string>R2d2</string>
        </dict>
		<dict>
			<key>order</key>
			<integer>18</integer>
			<key>file</key>
			<string>effects/pad_scratch_02.mp3</string>
			<key>type</key>
			<string>PAD</string>
			<key>title</key>
			<string>Scratch 02</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>19</integer>
			<key>file</key>
			<string>effects/pad_scratch_01.mp3</string>
			<key>type</key>
			<string>PAD</string>
			<key>title</key>
			<string>Scratch 01</string>
		</dict>
        <dict>
            <key>order</key>
            <integer>20</integer>
            <key>file</key>
            <string>effects/pad_snare.mp3</string>
            <key>type</key>
            <string>PAD</string>
            <key>title</key>
            <string>Snare</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>21</integer>
            <key>file</key>
            <string>effects/pad_bad_church_hit.mp3</string>
            <key>type</key>
            <string>PAD</string>
            <key>title</key>
            <string>Bad Church Hit</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>22</integer>
            <key>file</key>
            <string>effects/pad_hit.mp3</string>
            <key>type</key>
            <string>PAD</string>
            <key>title</key>
            <string>Hit</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>23</integer>
            <key>file</key>
            <string>effects/pad_rubber.mp3</string>
            <key>type</key>
            <string>PAD</string>
            <key>title</key>
            <string>Rubber</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>24</integer>
            <key>file</key>
            <string>effects/pad_push.mp3</string>
            <key>type</key>
            <string>PAD</string>
            <key>title</key>
            <string>Push</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>25</integer>
            <key>file</key>
            <string>effects/pad_snare_reagge.mp3</string>
            <key>type</key>
            <string>PAD</string>
            <key>title</key>
            <string>Snare Reagge</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>26</integer>
            <key>file</key>
            <string>effects/pad_kick.mp3</string>
            <key>type</key>
            <string>PAD</string>
            <key>title</key>
            <string>Kick</string>
        </dict>
        <dict>
            <key>order</key>
            <integer>27</integer>
            <key>file</key>
            <string>effects/voc_reeeewind.mp3</string>
            <key>type</key>
            <string>VOC</string>
            <key>title</key>
            <string>Reeeewind</string>
        </dict>
		<dict>
			<key>order</key>
			<integer>28</integer>
			<key>file</key>
			<string>effects/voc_out_in_the_street.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Out In The Streets</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>29</integer>
			<key>file</key>
			<string>effects/voc_badman.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Badman</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>30</integer>
			<key>file</key>
			<string>effects/voc_soundboy.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Soundboy</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>31</integer>
			<key>file</key>
			<string>effects/voc_laughing.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Laughing</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>32</integer>
			<key>file</key>
			<string>effects/voc_well_well_well.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Well Well Well</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>33</integer>
			<key>file</key>
			<string>effects/voc_more_fire.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>More Fire</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>34</integer>
			<key>file</key>
			<string>effects/voc_bad_boy_tune.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Bad Boy Tune</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>35</integer>
			<key>file</key>
			<string>effects/voc_pull_up.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Pull Up</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>36</integer>
			<key>file</key>
			<string>effects/voc_cool.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Cool</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>37</integer>
			<key>file</key>
			<string>effects/voc_woman.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Woman</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>38</integer>
			<key>file</key>
			<string>effects/voc_danger.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Danger</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>39</integer>
			<key>file</key>
			<string>effects/voc_the_rockers.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>The Rockers</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>40</integer>
			<key>file</key>
			<string>effects/voc_good_man.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Good Man</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>41</integer>
			<key>file</key>
			<string>effects/voc_wicked.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Wicked</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>42</integer>
			<key>file</key>
			<string>effects/voc_jah.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Jah</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>43</integer>
			<key>file</key>
			<string>effects/voc_rastafari.mp3</string>
			<key>type</key>
			<string>VOC</string>
			<key>title</key>
			<string>Rastafari</string>
		</dict>
        <dict>
            <key>order</key>
            <integer>44</integer>
            <key>file</key>
            <string>effects/voc_hey_hey.mp3</string>
            <key>type</key>
            <string>VOC</string>
            <key>title</key>
            <string>Hey Hey</string>
        </dict>
	</array>
</dict>
</plist>
